@import url('https://fonts.googleapis.com/css?family=Corben:700');

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.snowTopLayer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

.snowBottomLayer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

.rainTopLayer {
    will-change: transform;
    animation: fall 5s infinite linear;
}

.rainBottomLayer {
    will-change: transform;
    animation: fall 3s infinite linear;
}

.cloudsLayer1 {
    will-change: transform;
    transform: translateX(-75px);
    animation: sideways 90s infinite linear;
    animation-delay: 0ms;
}

.cloudsLayer2 {
    will-change: transform;
    transform: translateX(-75px);
    animation: sideways 70s infinite linear;
    animation-delay: 30000ms;
}

.cloudsLayer3 {
    will-change: transform;
    transform: translateX(-75px);
    animation: sideways 80s infinite linear;
    animation-delay: 35000ms;
}

.cloudsLayer4 {
    will-change: transform;
    transform: translateX(-75px);
    animation: sideways 90s infinite linear;
    animation-delay: 60000ms;
}

.thunderclouds1 {
    will-change: transform;
    transform: translateX(-800px);
    animation: thunder 150s infinite linear;
    animation-delay: -45000ms;
}

.thunderclouds2 {
    will-change: transform;
    transform: translateX(-800px);
    animation: thunder 150s infinite linear;
    animation-delay: -90000ms;
}

.thunderclouds3 {
    will-change: transform;
    transform: translate(-800px, 50px);
    animation: thunder 200s infinite linear;
    animation-delay: -40000ms;
}

.thunderclouds4 {
    will-change: transform;
    transform: translate(-800px, 50px);
    animation: thunder 200s infinite linear;
    animation-delay: -120000ms;
}

.clouds circle {
    fill: #7a7a7e !important;
}

.clouds2 circle {
    fill: #2d2d2d !important;
}

.lightning {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: white;
    -webkit-filter: brightness(3);
    filter: brightness(3);
    -o-filter: brightness(3);
    -moz-filter: brightness(3);
}

/*Now just a opacity animation*/
.flashit {
    animation: 5s flash ease-out;
    animation-iteration-count: 1;
}

@keyframes fall {

    100% {
        transform: translateY(100%);
    }

}

@keyframes diagonal {

    0% {
        transform: translatex(-20%) translatey(0%)
    }
    100% {
        transform: translatex(-70%) translatey(120%);
    }

}

@keyframes sideways {
    100% {
        transform: translateX(100%)
    }

}

@keyframes thunder {

    100% {
        transform: translateX(100%);
    }

}

@keyframes flash {
    from {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    93% {
        opacity: 0.6;
    }
    94% {
        opacity: 0.2;
    }
    95% {
        opacity: 1;
    }
    97% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}